html, body {
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
    height: 100%;
}

.banner {
    height: 100vh;
    background-color: rgb(204, 35, 44);
    display: flex;
}

.banner-img {
    width: 15vh;
    border-radius: 50%;
    margin: auto;
    animation: Batimento 10s infinite;
}

@keyframes Batimento{
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes upDown {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(15px)
    }
    100% {
        transform: translateY(0px)
    }
}

.card-title, .card-img {
    transition: 1s;
}

.card:hover .card-title{
    opacity: 1 !important;
}

.card:hover .card-img {
    opacity: 0.5;
}

.section-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.text-center {
    text-align: center;
}

.big-text {
    font-weight: bold;
    font-size: 75px;
}

.fa {
    margin-bottom: 7.5vh;
}

.fa-angle-down {
    animation: upDown 1s infinite;
}

.games {
    min-height: 100vh;
    height: auto !important;
    background-color: rgb(20,20,20)
}

.title > h1 {
    line-height: 55px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    position: relative;
    margin: 0;
    color: white;
    height: 50%;
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}

@media screen and (max-width: 1025px) {
    .title {
        height: 100vh;
    }
}

.red {
    background-color:red;
    padding: 5px;
}

.card-img-overlay {
    width:100%;
    height:auto;
}

.card {
    margin: auto;
    margin-top: 50px;
}

.hidden {
    opacity: 0;
}

.display-none {
    display: none;
}

.menu {
    display: none;
    margin: 2.5%;
    position: fixed;
    top: 50%;
    background-color: snow;
    border: 2px solid white;
    display: inline-block;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    z-index: 99;
}

#leftMenu {
    display: none;
    left: 0;
}

.menu > .fa {
    margin: 0;
}

#rightMenu {
    display: none;
    right: 0;
}