body {
    position: relative;
    height: auto;
    min-height: 100% !important;
  }


/* TAGS*/

a, a:active, a:hover, a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}


video {
    width: 100%;
}

.video-forza {
    margin: 10%;
}

.informacao-video {
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    color: white;
    margin: 1.5em;
}

img { 
    width:100%;
    height:auto;
    transition: 0.5s;
}

.img-inicial {
    object-fit: cover;
}

.forza-img-inicial{
    height: 450px;
    object-position: 0 15%;
}

.cyberpunk-img-inicial {
    height: 400px;
    object-position: 0 50%;
}

.god-img-inicial {
    height: 500px;
    object-position: 0 35%;
}

/* bottom arrows*/

.menu {
    display: block;
    margin: 1.5%;
    position: fixed;
    bottom: 0;
    background-color: white;
    border: 2px solid black;
    display: inline-block;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    z-index: 99;
    cursor: pointer;
}

.menu > .fa {
    display: table-row;
    margin: 0;
}

#leftMenu {
    display: table;
    left: 0;
}

#rightMenu {
    display: table;
    right: 0;
}

/* bottom arrows*/


/* top menu */

.btn {
    margin-right: 10px;
}

.btn-outline-primary{
    border-color: transparent;
    color:  white;
    background-color:  rgba(30,30,30,0.5);
    margin-top: 10px;
}

.btn-outline-primary:hover{
    border-color: transparent;
    color:  rgb(0, 0, 0);
    background-color:  rgba(30,30,30,0.3);
}

@media screen and (max-width: 767px) {
    .btn-group {
      display: none;
    }
    .col, .row, video, .video-trailer, .col-sm-12, img {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .col-sm-12 > img:hover {
      transform: none !important;
  }
}

/* top menu */

/*container, columns and rows*/
.container-god {
    height: 100%;
    position: relative; /* magic sauce II */
    display: inline-table;
}

.container-fluid {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    padding: 0;
}

.row {
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.col-lg-12 , .col-lg-4, .col-sm-12 {
    padding: 50px;
}

.col-sm-12 > img {
    border: 2px solid white;
}

.col-sm-12 > img:hover {
    transform: scale(1.05);
}

/*container, columns and rows*/

/*backgrounds*/

.cyberpunk-background {
    background: url('https://sm.ign.com/ign_pt/gallery/c/cyberpunk-/cyberpunk-2077-25-new-night-city-images_j7rj.jpg');
}

.pes-background {
    background: url("https://images3.alphacoders.com/952/thumb-1920-952165.jpg");
}

.forza-background {
    background: url("https://d2ofqe7l47306o.cloudfront.net/games/1920x1080/forza-horizon-4-car-30.jpg");
}

.god-background {
    background: url("https://cdn.glitch.com/fd0d8884-e38b-41ec-88c5-15d3a666001b%2FGod-of-War-4.jpg?v=1610408317997")
}

.gray-background {
    background-color: rgba(0,0,0,0.5)
}

.background-csgo {
    color: white;
    background: linear-gradient(rgba(250, 0, 0, 0.25),  rgba(15, 15, 15, 0.712)),url("https://wallpaper.dog/large/852780.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.bg-darker {
    background-color: rgba(0, 0, 0, 0.75);
}

/*backgrounds*/

/* download section */
.download-section {
    min-height: 200px;
    max-height: 480px;
}

.download-section-kratos {
    min-height: 75vh;
}

.btn-download {
    background-color: red;
    padding: 15px;
    margin: 20px;
    font-weight: bold;
    border-radius: 25px 5px 15px 5px;
    transition: 1s;
    width: 25%;
    font-size: 20px;
}

.btn-download:hover {
    background-color: darkred;
}
/* download section */

/*Stuff*/
blockquote {
    margin: 2.5vh;
}

.jumbotron-fluid > .container {
    margin-bottom: 5vh;
}

.topic {
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.gallery-img:hover {
    transform: scale(1.05);
}

.download-section {
    background-color: rgba(19, 19, 19,0.7);
    text-align: center;
}

.jumbotron-fluid {
    color: white;
    background: linear-gradient(rgba(250, 0, 0, 0.35),  rgba(250, 192, 125, 0.25)),url("https://wallpaper.dog/large/852780.png");
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.god-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; /* magic sauce */
    z-index: -99;
}
.bg-no-vid {
    background-size: cover !important;
    background: url("https://cdn.glitch.com/fd0d8884-e38b-41ec-88c5-15d3a666001b%2Ff07c559b0289454eba1e73d0a966654a.jpg?v=1610408900737");
}

.wrapper-god {
    color: white;
    padding: 2.5em;
    background-color: rgba(0,0,0,.6);
}

.navbar {
  background-color: transparent !important;
  position: absolute !important;
  z-index: 99 !important;
}

.navbar-toggle.collapsed {
    background-color: #000 !important;
}

@media (min-width: 1200px) {
    .container{
        max-width: 75%;
    }
}

.img-wrapper {
    position: absolute;
}

.no-border {
    perspective: 600px;
    width: 47.5vh;
    border: none !important;
    margin-bottom: 5px;
}

.no-border:hover {
    transform: none !important;
}

.txt {
    font-size: 25px;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 25px;
    margin-bottom: 25px;
}

.bottom {
    bottom: 0;
}

.center {
    top: 35%;
}

.align-items-end {
    margin-bottom: 25px;
}

#KratosParent {
    perspective: 200px;
}

.fa {
    cursor: pointer;
}

.pes-background {
    background: url("https://images3.alphacoders.com/952/thumb-1920-952165.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}


.informacao-video {
    background-color: rgba(36, 36, 36, 0.7);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    padding: 1.5rem 0 1.5rem 0;
}

.pes-img-inic {
    height: 400px !important;
    object-fit: cover !important;
    object-position: 0 75% !important;
}

.video-trailer {
    background-color: black !important;
    padding: 5%;
}

.video-trailer > h1 {
    padding: 0 5% 5% 5%;
}

.border-right {
    border-right: 2px solid white !important;
}

/*Stuff*/