.vertical-center {
  display: flex;
  align-items: center;
}

.btn-group {
    position: absolute;
    top: -15px;
    left: 20px;
}

.btn-outline-primcary{
    border-color: white;
    color:white;
    background-color:transparent;
    margin-top:30px;
}

.btn-outline-primary:hover{
    border-color: transparent;
    color:black;
    background-color:white;
}

blockquote {
    margin: 2.5vh;
}

.jumbotron-fluid > .container {
    margin-bottom: 5vh;
}

.video {
  background-color: rgb(10,10,10);
  color: white;
  margin: 0 !important;
}

img {
    width:100%;
    height:auto;
    border: 2px solid white;
    transition: 2s;
}

.row {
    margin: 0;
    margin-top: 5vh;
}

.col-sm-12, .col-md-6, .col-lg-4 {
    padding: 2.5%;
}

.gallery-img:hover {
    transform: scale(1.25);
}

.topic {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

video {
  width:100%;
  height:auto;
}

.menu {
  display: block;
  margin: 1.5%;
  position: fixed;
  top: 90%;
  background-color: white;
  border: 2px solid black;
  display: inline-block;
  border-radius: 50%;
  padding: 15px;
  text-align: center;
  z-index: 99;
  cursor: pointer;
}

#leftMenu {
    display: table;
    left: 0;
}
.menu > .fa {
    display: table-row;
    margin: 0;
}

#rightMenu {
    display: table;
    right: 0;
}

.btn {
    margin-right: 10px;
}

@media screen and (max-width: 496px) {
  .btn-group {
    display: none;
  }
}